.link_text
    color #008ace
    text-decoration none
    border-bottom 1px solid #b2ccf0
    &:visited
        color #b40eb4
        border-color #e0b2e0
    &:hover
        color #cc0000
        border-color #f0b2b2