.drop-zone__file
    color #fff
    height 100px
    width 100px
    position absolute
    background url(file_icon.svg) no-repeat center
    background-size 100%
    top -20px
    right 0
    bottom 0
    left 0
    margin auto
    
.drop-zone_upload .drop-zone__file
    background-image url(upload_icon.svg)